# ignoring all the extra latex files

*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz

# ignoring extra python garbage

python/.idea/
python/__pycache__/
python/venv/

# ignoring python input/output files

python/latex/
python/input/